@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.navbar-header {
    background-color: #DDD9CE !important;
}

.nhistoria {
    width: 115pt;
}

.nav-item {
    font-family: 'Open Sans';
    font-weight: 500;
}

.nav-item a:hover {
    color: #D97E96;
    transition: 0.3s;
}

.font-h2 {
    font-family: 'Fraunces';
    font-weight: 600;
    font-size:3rem;
}


.esperanca {
    color: #D97E96;
}

.botao-adote {
    background-color: #D97E96;
    color: white;
    width: 11rem;
    padding: 0.5rem 0;
    border-radius: 0.75rem;
    font-family: 'Open Sans';
    font-weight: bolder;
    border-style: solid;
    border-color: #D97E96;
}

.botao-adote:hover {
    background-color: white;
    color: #D97E96;
    border-style: solid;
    border-color: #D97E96;
}

.texto-poppins {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.5rem;
}

.nossa-historia {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2.5rem;
}

.nossa-historia-bck {
    background-color: #DDD9CE;
    display: flex;
    padding: 0rem 2.5rem;
}

.texto-historia {
    font-weight: 300;
}

.cards-espaco {
    display: flex;
    justify-content: space-between;

}

.acordeao-itens {
    font-family: 'Roboto';
    font-weight: 700;
}

.acordeao-configs .accordion-item:first-of-type {
    border-top: none;
}

.acordeao-configs .accordion-item {
    border-left: none;
    border-right: none;
}

.botao-card {
   background-color: rgb(253, 2, 43);
    width: 3rem;
    height: 3rem;
    margin-top: 14rem;
    border-radius: 3rem;

}

.botao-imagem-card {
    background-color: #D97E96;
    color: white;
    width: 11rem;
    padding: 0.5rem 0;
    border-radius: 0.75rem;
    font-family: 'Open Sans';
    font-weight: bolder;
    border-style: solid;
    border-color: #D97E96;

}

.botao-imagem-card:hover {
    background-color: white;
    color: #D97E96;
    border-style: solid;
    border-color: #D97E96;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 1. Torna o CARD o referencial (position: relative) */
.card {
    position: relative;
}

/* 2. Define a posição FIXA do botão (position: absolute) */
.botao-imagem-card {
    /* Define o posicionamento absoluto */
    position: absolute; 
    
    /* Posição vertical: 15px acima da base do card */
    bottom: 15px; 
    
    /* Centraliza horizontalmente o botão */
    left: 50%;
    transform: translateX(-50%); 
    
    /* Estilos de destaque do botão (mantidos ou ajustados) */
    width: 80%; 
    z-index: 5;
    background-color: #D97E96; 
    border-color: #D97E96;
    color: white;
    display: block; /* Para garantir o left/transform */
}

/* 3. Mantém a rolagem no parágrafo */
.card-text {
    /* Altura máxima para ativar a barra de rolagem */
    max-height: 150px; 
    /* Adiciona a barra de rolagem vertical */
    overflow-y: auto; 
    /* Adiciona um padding para que o texto não fique escondido atrás do botão fixo */
    padding-bottom: 50px; 
}

.nome-fonte {
    font-family: 'Roboto'
}

.texto-card-fonte {
    font-family: 'Poppins';
    font-size: 16px;
}
